body {
  background-color: aquamarine;
}

h2 {
  text-align: center;
}

img {
  width: 250px;
}

img:hover {
  transform: scale(1.2);
  transition: all .3s ease-in-out;
}

.images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.images>* {
  background-color: cadetblue;
  flex-wrap: wrap;
  padding: .3em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button {
  font-size: larger;
}

button:hover {
  color: red;
}